<% layout('/partials/boilerplate')%>
<div class="d-flex flex-column m-5">
    <div class="d-flex flex-row">
        <div class="w-25" id="accountInfo">
            <div class="d-flex flex-column">
                <h1><%=currentUser.username%></h1>
                <br>
                <h3><%=currentUser.myZip%></h3>
                <p>Preferred Contact: <%=currentUser.preferredContact%></p>
                <button class="btn btn-outline-success w-25" id="edit" onclick="editAccount()">Edit</button>
            </div>
        </div>
        <div class="invis w-25" id="editAccountInfo">
            <div class="d-flex flex-column">
                <h1><%=currentUser.username%></h1>
                <br>
                <form class='w-100' action='/account?_method=PUT' method="POST" novalidate>
                    <div>
                        <input id="myZip" name="myZip" type="text" pattern="[0-9]*" value="<%=currentUser.myZip%>">
                    </div>
                    <div>
                        <select class="form-select mt-2 w-50" name="preferredContact" aria-label="Default select example">
                            <option value="Phone" selected>Phone</option>
                            <option value="Email">Email</option>
                        </select>
                    </div>
                    <button class="btn btn-outline-success w-25" id="">Update</button>
                </form>
            </div>
        </div>
        <div class="d-flex flex-column w-75 justify-content-center">
            <h1 class='display-6'><%=userListings.length%> Products Currently Active</h1>
            <hr>
            <h1 class='display-6'><%=saved.length%> Products Saved<h1>
            <hr>
        </div>
    </div>
    <div class="mt-5">
        <div class="d-flex flex-column">
            <div class="d-flex flex-row justify-content-around">
                <button class="btn btn-success w-25" id="myItemsBtn" onclick="getListings()">My Lisitings</button>
                <button class="btn btn-outline-success w-25" id="savedItemsBtn" onclick="getSaved()">Saved</button>
            </div>
            <div class='container mt-3 invis' id="savedItems">
                <div class="row">
                    <%if(saved.length==0){%>
                        <div class="d-flex flex-column mt-5 justify-content-center align-items-center">
                            <h1 class="display-6"><i>No items have been saved</i></h1>
                        </div>
                    <%}%>
                    <%for(let product of saved){%>
                        <div class="col-2 homeProduct">
                            <a href="/products/<%=product._id%>/show">
                                <div class="d-flex flex-column justify-content-center align-items-center mb-3">
                                    <img class ="align-self-center productImg" src="<%=product.images[0].url%>">
                                    <p class="mb-0" style="font-size: 18px"><b><%=product.productTitle.substring(0,16)%></b></p>
                                    <p class ="d-flex flex-column align-items-left"style="font-size: 20px;">$<%=product.productPrice%></p>
                                </div>
                            </a>
                        </div>
                    <%}%>
                </div>
            </div>
            <div class='container mt-3' id="myItems">
                <div class="row">
                    <%if(userListings.length==0){%>
                        <div class="d-flex flex-column mt-5 justify-content-center align-items-center">
                            <h1 class="display-6"><i>You have no items yet</i></h1>
                            <p>Post one <a href="/products/new"><u>now</u></a></p>
                        </div>
                    <%}%>
                    <%for(let product of userListings){%>
                        <div class="col-2 homeProduct">
                            <a href="/products/<%=product._id%>/show">
                                <div class="d-flex flex-column justify-content-center align-items-center mb-3">
                                    <img class ="align-self-center productImg" src="<%=product.images[0].url%>">
                                    <p class="mb-0" style="font-size: 18px"><b><%=product.productTitle.substring(0,16)%></b></p>
                                    <p class ="d-flex flex-column align-items-left"style="font-size: 20px;">$<%=product.productPrice%></p>
                                </div>
                            </a>
                        </div>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
</div>